# Name(s)
**PUT YOUR FULL NAME(S) HERE**

**Instructions:** This is an individual assignment, but you may discuss your code with your neighbors.

# Python and NumPy

While other IDEs exist for Python development and for data science related activities, one of the most popular environments is Jupyter Notebooks.

This lab is not intended to teach you everything you will use in this course. Instead, it is designed to give you exposure to some critical components from NumPy that we will rely upon routinely.

## Exercise 0
Please read and reference the following as your progress through this course. 

* [What is the Jupyter Notebook?](https://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/What%20is%20the%20Jupyter%20Notebook.ipynb#)
* [Notebook Tutorial](https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook)
* [Notebook Basics](https://nbviewer.jupyter.org/github/jupyter/notebook/blob/master/docs/source/examples/Notebook/Notebook%20Basics.ipynb)

**In the space provided below, what are three things that still remain unclear or need further explanation?**

How efficient is the python interpreter in a notebook, compared to using python in a cli? how does jupyter notebook handle version changes in python? do notebooks support other languages?

## Exercises 1-7
For the following exercises please read the Python appendix in the Marsland textbook and answer problems A.1-A.7 in the space provided below.

## Exercise 1

In [10]:
# YOUR SOLUTION HERE

import numpy as np
a = np.ones((6,4)) * 2
print(a)

[[2. 2. 2. 2.]
 [2. 2. 2. 2.]
 [2. 2. 2. 2.]
 [2. 2. 2. 2.]
 [2. 2. 2. 2.]
 [2. 2. 2. 2.]]

## Exercise 2

In [11]:
# YOUR SOLUTION HERE
b = np.ones((6, 4)) + (np.eye(6, 4) * 2)
print(b)

[[3. 1. 1. 1.]
 [1. 3. 1. 1.]
 [1. 1. 3. 1.]
 [1. 1. 1. 3.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

## Exercise 3

a*b does element by element multiplication. matrix multiplication requires the inner dimensions must match.

## Exercise 4

In [12]:
print(np.dot(np.transpose(a), b))
print(np.dot(a,np.transpose(b)))
# transposing an array makes it a completely different array, causing different operations for each cell

[[16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]
 [16. 16. 16. 16.]]
[[12. 12. 12. 12.  8.  8.]
 [12. 12. 12. 12.  8.  8.]
 [12. 12. 12. 12.  8.  8.]
 [12. 12. 12. 12.  8.  8.]
 [12. 12. 12. 12.  8.  8.]
 [12. 12. 12. 12.  8.  8.]]

## Exercise 5

In [13]:
def f():
  print("this is my function")
f()

this is my function

## Exercise 6

In [14]:
def rand():
    c = np.random.randint(0,10,(5, 5))
    print(c)
    print("sum: " + str(np.sum(c)))
    print("mean: " + str(np.sum(c)/25))
rand()
rand()
rand()

[[6 6 9 8 9]
 [2 3 1 4 4]
 [4 7 0 2 8]
 [7 8 4 1 9]
 [2 5 9 5 9]]
sum: 132
mean: 5.28
[[9 1 0 7 2]
 [2 8 4 7 5]
 [1 4 0 2 6]
 [3 9 6 5 0]
 [0 4 5 9 4]]
sum: 103
mean: 4.12
[[0 2 9 6 2]
 [9 4 9 6 0]
 [8 1 6 2 7]
 [1 5 5 8 5]
 [0 5 4 6 6]]
sum: 116
mean: 4.64

## Exercise 7

In [46]:
def count_one(arr):
    count = 0;
    for a in range(len(arr)):
        if(arr[a] == 1):
            count += 1
    return count

def count_one_better(arr):
    c = np.where(arr == 1, arr, 0)
    return np.sum(c)
    
print(count_one_better(np.arange(10)))
print(count_one(np.arange(10)))

1
1

## Excercises 8-???
While the Marsland book avoids using another popular package called Pandas, we will use it at times throughout this course. Please read and study [10 minutes to Pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html) before proceeding to any of the exercises below.

## Exercise 8
Repeat exercise A.1 from Marsland, but create a Pandas DataFrame instead of a NumPy array.

In [8]:
import pandas as pd
import numpy as np
a = pd.DataFrame(pd.DataFrame(np.ones((6, 4)) * 2, columns=list('ABCD')))
print(a)

     A    B    C    D
0  2.0  2.0  2.0  2.0
1  2.0  2.0  2.0  2.0
2  2.0  2.0  2.0  2.0
3  2.0  2.0  2.0  2.0
4  2.0  2.0  2.0  2.0
5  2.0  2.0  2.0  2.0

## Exercise 9
Repeat exercise A.2 using a DataFrame instead.

In [15]:
a = pd.DataFrame(pd.DataFrame(np.ones((6, 4)) + (np.eye(6, 4) * 2), columns=list('ABCD')))
print(a)

     A    B    C    D
0  3.0  1.0  1.0  1.0
1  1.0  3.0  1.0  1.0
2  1.0  1.0  3.0  1.0
3  1.0  1.0  1.0  3.0
4  1.0  1.0  1.0  1.0
5  1.0  1.0  1.0  1.0

## Exercise 10
Repeat exercise A.3 using DataFrames instead.

In [ ]:
# YOUR SOLUTION HERE

## Exercise 11
Repeat exercise A.7 using a dataframe.

In [ ]:
# YOUR SOLUTION HERE

## Exercises 12-14
Now let's look at a real dataset, and talk about ``.loc``. For this exercise, we will use the popular Titanic dataset from Kaggle. Here is some sample code to read it into a dataframe.

In [23]:
titanic_df = pd.read_csv(
    "https://raw.githubusercontent.com/dlsun/data-science-book/master/data/titanic.csv"
)
titanic_df

0                         Allen, Miss. Elisabeth Walton
1                        Allison, Master. Hudson Trevor
2                          Allison, Miss. Helen Loraine
3                  Allison, Mr. Hudson Joshua Creighton
4       Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
                             ...
1304                               Zabour, Miss. Hileni
1305                              Zabour, Miss. Thamine
1306                          Zakarian, Mr. Mapriededer
1307                                Zakarian, Mr. Ortin
1308                                 Zimmerman, Mr. Leo
Name: name, Length: 1309, dtype: object

Notice how we have nice headers and mixed datatypes? That is one of the reasons we might use Pandas. Please refresh your memory by looking at the 10 minutes to Pandas again, but then answer the following.

## Exercise 12
How do you select the ``name`` column without using .iloc?

In [24]:

titanic_df['name']

,pclass,survived,name,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
sex,,,,,,,,,,,,,
female,1,1,"Allen, Miss. Elisabeth Walton",29.0,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
female,1,0,"Allison, Miss. Helen Loraine",2.0,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
female,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",25.0,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
female,1,1,"Andrews, Miss. Kornelia Theodosia",63.0,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
female,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",53.0,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
female,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",38.0,0,0,2688,7.2292,NaN,C,C,NaN,NaN
female,3,1,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,S,NaN,NaN,NaN
female,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",15.0,1,0,2659,14.4542,NaN,C,NaN,NaN,NaN
female,3,0,"Zabour, Miss. Hileni",14.5,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
female,3,0,"Zabour, Miss. Thamine",NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN

## Exercise 13
After setting the index to ``sex``, how do you select all passengers that are ``female``? And how many female passengers are there?

In [ ]:
titanic_df.set_index('sex', inplace=True)
titanic_df.loc['female']

## Exercise 14
How do you reset the index?

In [ ]:
## YOUR SOLUTION HERE